.menu-items {
    width: 224px;

    .menu-item {
        margin-left: 0px;
    }
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 500;
    padding: 11px 16px;
    &:hover {
        background-color: rgba(254, 44, 85, 0.03);
    }
}
